html {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  height: 30vmin;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}

.App-link {
  color: #61dafb;
}

.App-body {
  color: #5A6978;
  font-family: 'Montserrat';
  display: inline-block;
  font-size: calc(2vmin);
}

.div-form {
  background-color: rgba(209, 209, 209, 0.1) ;
  padding: 5vmin;
  border-color: black;
  border-width: 5px;
  border-radius: 1vmin;
  min-width: 30max;
}

.form {
  text-align: center;
}

.form-div {
  width: fit-content;
  height: fit-content;
}

.label-div {
  text-align: left;
  margin-bottom: 1.5vh;
}

/* .label {
} */

.submit-button {
  align-self: center;
  margin-top: 5vmin;
  color: #5A6978;
  background-color: rgba(255, 234, 54, 0.91);
  width: 100%;
  min-height: 5vmin;
  font-family: 'Montserrat-Bold';
  border-radius: 1vmin;
  border-width: 0px;
  font-size: calc(2.5vmin);
}

.input {
  width: 20vmax;
  border-radius: 0.75vmin;
  border-color: #A7A7A7;
  border-width: 1px;
  height: 4vh;
  padding-left: 1.5vmin;
}

::-webkit-input-placeholder {
  color: #C0C0C0;
}

.trademark {
  color: #5A6978;
  font-family: 'Montserrat';
  font-size: calc(2vmin);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(../../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../../assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: local('Lato-Bold'), url(../../assets/fonts/Lato-Bold.ttf) format('truetype');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
