html {
  height: 100%;
}

body {
  min-height: 100%;
}

.card-color {
    background-color: rgba(209, 209, 209, 0.08);
    border: 2px solid #F0F2F3;
    border-radius: 8px;
    padding: 0.5vmin 1rem 0.5vmin 1rem;
}

.card-color-body {
    padding: 0.5rem 0 0.5rem 0;
    max-width: 100%;
    height: inherit;
    margin: 0
}

/* .card-color-profile-left {
    margin: 1rem 0.5rem 1rem 0 !important;
    height: inherit;
    max-width: 100%;
    width: inherit;
}

.card-color-profile-right {
    margin: 1rem 0 1rem 0.5rem !important;
    height: inherit;
    width: inherit;
}

.card-color-profile {

} */

.rounded-image {
    border-radius: 1rem;
    height: 9.5vmin;
}

.no-padding {
    padding: 0 !important;
}

.form-check-label {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.card-1-top {
    font-size: 2.7vmin;
    margin-bottom: 0;
}

.card-1-middle {
    font-size: 3.3vmin;
    margin: 0.4vmin 0 0.8vmin 0;
    font-weight: bold;
}

.card-1-bottom {
    font-size: 2.7vmin;
    margin-bottom: 0;
}

.statement-header {
    font-size: 2.6vmin;
    font-weight: bold;
}

.row {
    margin: 0 !important
}

.statement-full {
    font-size: 5vmin;
    text-align: justify;
}

#akreditasi {
  font-size: 3vmin;
  font-weight: bold;
  margin-bottom: 0;
}

#akreditasi-index {
    font-size: 7vmin;
    font-weight: bold;
    margin-bottom: 0;
}

#token-p {
  font-size: 3vmin;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
