html {
  height: 100%;
}

body {
  font-family: 'Montserrat';
  min-height: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 45vh;
}

.row {
  margin: 5vmin auto 5vmin auto;
}

.card-body1 {
  background-color: rgba(209, 209, 209, 0.08);
}

.card1 {
  font-size: calc(1vmin + 7px);
  width: -webkit-fill-available;
}

.div-img {
  margin: 0 2vmin 2vmin;
}

.img {
  max-width: 30vmin;
  margin: 0 2vmin 2vmin 0;
}

.label {
  text-align: justify;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  font-size: calc(1vmin + 7px);
}

.radio-button {
  margin-right: 1vmin;
  width: calc(1vmin + 7px);
  font-size: calc(1vmin + 7px);
}

.bottom {
  width: 100%;
  font-size: calc(1vmin + 5px);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-div {
  display: inline-flex;
  align-items: center;
}

.section-name {
  margin-left: 2vmin;
}

.bottom-div-div {
  margin: 0 6vmin;
}

.icon {
  font-size: 2.5vmin;
}

.col1 {
  padding: 0 1vmin 0 0;
  flex-direction: column;
  display: inline-flex;
  /* max-height: 90vh; */
}

.col2 {
  padding: 0 0 0 1vmin;
  /* max-height: 90vh; */
}

.card-body2 {
  padding: 1.5vmin;
  background-color: rgba(209, 209, 209, 0.08);
}

.petunjuk-button {
  font-size: calc(1vmin + 5px);
}

.card-text2 {
  font-size: calc(1vmin + 10px);
  text-align: center !important;
}

.item2 {
  display: block;
  padding: 1.5vmin;
}

.school-logo {
  width: 7vmax;
}

.study-logo {
  width: 8vmin;
  height: 8vmin;
  margin-bottom: 1vmin;
}

.card2 {
  margin-bottom: 2vmin;
}

.card3 {
  margin-bottom: 2vmin;
  background-color: rgba(209, 209, 209, 0.08);
  text-align: left;
}

.card-body3 {
  padding: 1vmin;
  font-size: 1vmin;
}

.card3-p1 {
  font-size: 1.5vmin;
  font-family: 'Lato';
}

.card3-p2 {
  font-size: calc(1.5vmin + 3px);
  font-family: 'Lato-Bold';
}

.card3-p3 {
  font-size: calc(1.5vmin + 2px);
  font-family: 'Lato';
}

.card4 {
  background-color: rgba(209, 209, 209, 0.08);
  /* height: 30vh; */
  overflow: auto;
}

.card-body4 {
  padding: 0.5vmin;
  max-height: 50vh;
  overflow: auto;
}

.card-text4 {
  font-size: calc(1vmin + 5px);
  padding: 0 0 0 0;
  margin: 0.5vmin 0;
  text-align: left;
}

.exam-button-div2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  /* margin: 0 0 0 calc(-1vmin + 2px); */
}

.exam-number-button {
  font-size: calc(1vmin + 3px);
  aspect-ratio: 1/1;
  margin: 0 calc(0.5vmin - 1px) calc(1vmin - 2px) calc(0.5vmin - 1px);
  height: calc(20px + 1vmin);
  width: calc(20px + 1vmin);
  padding: 0 0 0 0;
}

.selesai-button {
  font-size: calc(1vmin + 3px);
  width: 100%;
}

.jawab {
  color: #BAC1CC;
}

.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgba(209, 209, 209, 0.08);
  height: auto;
  min-height: 7vmin;
  text-align: left;
}

.answer-row {
  width: 100%;
}

.textarea {
  min-height: 1vmin;
}

[contenteditable] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgba(209, 209, 209, 0.08);
  border-bottom-width: 1px;
  height: auto;
  min-height: 7vmin;
  text-align: left;
  min-height: 3em;
  line-height: 1em;
  padding: 5px;
}

[contenteditable]:empty:before {
    content: attr(placeholder);
}

.border-bottom-answer {
  border-bottom: 2px solid #dee2e6;
}

.wrap-question-answer {
  width: 40%;
  flex-wrap: wrap;
}

.wrap-choose-answer {
  align-items: center;
}

.text-warning {
  font-family: 'Monospace';
}

.ck-editorr {
  background-color: red;
}

/*.ck.ck-reset.ck-editor.ck-rounded-corners {*/
/*  background-color: red;*/
/*}*/

/*.ck-read-only {*/
/*  border: 0 solid;*/
/*}*/
